<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body{
            text-align: center;
            font-family: sans-serif;
            margin-top: 80px;
        }
        h1{
            color: green;
        }
    </style>
</head>
<body>
    <h1>Admission Successful!</h1>
    <p>Tumhara form submit ho gaya hai.</p>
    <br>
    <a href="/">Home pe jao</a> | <a  href="/status/">Status Check karo</a>
</body>
</html>